/* 
 **********************
 style.css: web-gis-690 presentation styles
 **********************
 */ 

/* tag-based styles - minimize these if poss */

body {
	height: 100%;
}

h1 {
  margin: 25px auto;
}

table {
  margin-bottom: 25px;     
}

p {	
  font-size: 20px;
  line-height: 28px;
  padding: 0 10px;
}	

li {
  margin-bottom: 8px;	
}

hr {
  margin: 10px 0;
  width: 75%;
}

/* float layout styles */

.container {
  margin-bottom: 25px;
  width: 1200px; // fixed -- gotta go relative for bootstrap cols
 }

.center {
  text-align: center;
 }

.my-col-8 {
	float: left;
	width: 35%;
}

.my-col-12 {
  float: left; 
  width: 65%;
}

.quote {
	font-style: italic;
	font-size: 22px;
}

.bodytext {
	font-size: 18px;
}

.bodytext-plus {
  font-size: 20px;
}


.no-bullet {
  list-style-type: none;
}

.next-page, .prev-page {
	float: right;
	font-size: 24px;
	text-shadow: 2px 2px 4px black;
	text-underline: none;
}

.prev-page {
  float: left;
}

.attrib {
	font-family: sans-serif;
}

.screenshot {
  border: 1px solid gray; 	
  width: 400px; 
}

.gradient {
  background-image:
    linear-gradient(
      blue,
      #ffffff 4%
    );
}

a.nostyle {
  color: inherit; 
  text-decoration: inherit; 
}

/* util styles */
.clear {
  clear: both;
 }

 /* eof */
